*{
     padding:0;
     margin:0;
}
body{
     overflow-y: scroll;
}

/* CLASS */

.main-header{
     position: fixed;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     background: url(/img/istock-178149253.jpg);
     /* background: #0c0c0c url(/img/istock-178149253.jpg); */
     height: 80px;
} 

.conteudo {
     display: flex;
     flex-wrap: wrap;
}

.main-header h1{
     color:white;
     font-size: 50px;
     padding:5px;
     padding-left: 50px;
     
}  

/* LISTA */

nav ul li {
     list-style: none;
     display: inline;
     padding: 30px;
     line-height: 60px;
     font-weight: 900;
}
nav ul li > a{
     text-decoration: none;
     color: white;
     font-size: 22px;
     padding: 1px;
     transition: padding 1s;
}

nav ul li a:hover {
     background: #104e8b;
     padding:25px;
     text-decoration: underline;
     
}