*{
     padding:0;
     margin:0;
}
body{
     overflow-y: scroll;
}

/* MENU | NAVEGAÇÃO */

/* LISTA */

nav ul li {
     list-style: none;
     display: inline;
     padding: 30px;
     line-height: 75px;
     font-weight: 900;
}
nav ul li > a{
     text-decoration: none;
     color: white;
     font-size: 22px;
     padding: 1px;
     transition: padding 1s;
}

nav ul li a:hover {
     background: #104e8b;
     padding:25px;
     text-decoration: underline;
     
}

/* CLASS */

.main-header{
     position: fixed;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     background: url(/img/istock-178149253.jpg);
     height: 80px;
} 


.main-header h1{
     color:white;
     font-size: 50px;
     padding:5px;
     padding-left: 50px;
     
}  

/* BIOGRAFIA */

.biografia {
}
     

.biografia h2 {
     font-size: 50px;
     background-color: azure;
     margin-bottom: 20px;
}

.conteudo {
     display: flex;
     justify-content: center;

}

